<html lang="fa">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/irDecPreview/theme/collections/account.css" />
  </head>
  <body>
    <main>
      <div class="container">
        <div class="row center-sm pt--32">
            <div class="column xs-12 sm-3">
                <div class="tabs tabs__header--off">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="column xs-6 sm-12 pt--30">
                        <a class="tab__item row border__bottom" href="/irDecPreview/views/account/profile.html">
                          <div class="column xs-12 sm-2">
                            <img src="/irDecPreview/assets/icons/profile-secondary.svg" />
                        </div>
                          <div class="column xs-12 sm-9 tab__text-wrapper">
                            <span
                              class="palette--tertiary text--lg medium tab__heading"
                              >پروفایل
                            </span>
                          </div>
                        </a>
                      </div>
                      <div class="column xs-6 sm-12 pt--30">
                        <a
                          class="tab__item row tab__item-active border__bottom-active"
                          href="/irDecPreview/views/account/orders.html"
                        >
                          <div class="column xs-12 sm-2">
                            <img src="/irDecPreview/assets/icons/order.svg" />
                        </div>
                          <div class="column xs-12 sm-9 tab__text-wrapper">
                            <span
                              class="palette--tertiary text--lg medium tab__heading-active"
                              >سفارشات
                              </span
                            >
                          </div>
                        </a>
                      </div>
                     
                    </div>
                  </div>
                </div>
              </div>
         
          <div class="column xs-12 sm-7 padding-none">
            <div class="orders">
              <div class="orders__saving m--16">
                <div class="orders__savingImg">
                  <img alt="Savings" src="/irDecPreview/assets/icons/save.svg" />
                  <p class="orders__savingTxt text--md bold">
                    تخفیف دریافتی تا کنون
                  </p>
                </div>
                <div>
                  <p class="orders__savingTxt text--md bold">
                    <span class="orders__savingValue">۰ ریال</span>
                  </p>
                </div>
              </div>
              <div class="orders__header p--16">
                <h3 class="title--lg bold">همه سفارشات (۳)</h3>

                <div class="orders__search">
                  <input
                    class="orders__searchField"
                    placeholder="جستجو نام یا شناسه"
                  /><button type="button" class="orders__searchBtn">
                    &nbsp;
                  </button>
                </div>
              </div>

              <div>
                <div>
                  <div class="order p--16">
                    <p class="order__label text--md medium">
                      شناسه
                      <span class="order__id bold text--md"
                        >۱۲۳۴۵۶۶۲</span
                      >
                    </p>
                    <div>
                      <div class="order__block">
                        <div class="order__left">
                          <img
                            srcset="
                              https://placehold.co/136x144,
                              https://placehold.co/236x260 2x
                            "
                            src="https://placehold.co/136x144"
                            height="136"
                            width="144"
                            alt="prod name"
                          />
                          <div>
                            <p
                              class="order__product text--md medium truncate--box"
                            >
                              نام محصول نسبتا طولانی
                            </p>
                            <p class="order__brand text--xs medium">
                              نام سازنده
                            </p>

                            <div class="pt--12 order__statusWrap">
                              <div
                                class="text--md bold capitalize order__status danger"
                              >
                                ناموفق
                              </div>

                            </div>
                          </div>
                        </div>
                        <div class="order__btn">&nbsp;</div>
                      </div>
                    </div>

                    <div class="order__action">
                      <button
                          class="btn__container btn__size--default m--8 uppercase order-again custom-order-btn btn__outline--teal"
                          name="order"
                        >
                            <span>سفارش مجدد</span>
                          </div>
                        </button>
                    </div>
                  </div>

                  <div class="order p--16">
                    <p class="order__label text--md medium">
                      شناسه
                      <span class="order__id bold text--md"
                        >۱۲۳۴۵۶۶۲</span
                      >
                    </p>
                    <div>
                      <div class="order__block">
                        <div class="order__left">
                          <img
                            srcset="
                              https://placehold.co/136x144,
                              https://placehold.co/236x260 2x
                            "
                            src="https://placehold.co/136x144"
                            height="136"
                            width="144"
                            alt="prod name"
                          />
                          <div>
                            <p
                              class="order__product text--md medium truncate--box"
                            >
                              نام محصول نسبتا طولانی
                            </p>
                            <p class="order__brand text--xs medium">
                              نام سازنده
                            </p>

                            <div class="pt--12 order__statusWrap">
                              <div
                                class="text--md bold capitalize order__status success"
                              >
                                موفق
                              </div>

                              <div class="order__statusWrapStr"></div>
                            </div>
                          </div>
                        </div>
                        <div class="order__btn">&nbsp;</div>
                      </div>
                    </div>
                  </div>
                  <div class="order p--16">
                    <p class="order__label text--md medium">
                      شناسه
                      <span class="order__id bold text--md"
                        >۱۲۳۴۵۶۶۲</span
                      >
                    </p>
                    <div>
                      <div class="order__block">
                        <div class="order__left">
                          <img
                            srcset="
                              https://placehold.co/136x144,
                              https://placehold.co/236x260 2x
                            "
                            src="https://placehold.co/136x144"
                            height="136"
                            width="144"
                            alt="prod name"
                          />
                          <div>
                            <p
                              class="order__product text--md medium truncate--box"
                            >
                              نام محصول نسبتا طولانی
                            </p>
                            <p class="order__brand text--xs medium">
                              نام سازنده
                            </p>

                            <div class="pt--12 order__statusWrap">
                              <div
                                class="text--md bold capitalize order__status done"
                              >
                                لغو شده
                              </div>

                              <div class="order__statusWrapStr"></div>
                            </div>
                          </div>
                        </div>
                        <div class="order__btn">&nbsp;</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
