<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/theme/collections/customer.css" />

    <title>Document</title>
  </head>
  <body>
    <main>
      <div class="container">
        <div class="row center-sm pt--32">
          <div class="column xs-12 sm-3">
            <div class="tabs tabs__header--off">
              <div class="container-fluid">
                <div class="row">
                  <div class="column xs-6 sm-12 pt--30">
                    <div
                      class="tab__item row tab__item-active border__bottom-active"
                    >
                      <div class="column xs-12 sm-2">
                        <img src="/assets/icons/wishlist.svg" />
                      </div>
                      <div
                        class="column xs-12 sm-9 tab__text-wrapper"
                      >
                        <span
                          class="palette--tertiary text--lg medium tab__heading-active"
                          >علاقه مندی ها
                        </span>
                        <span class="text--md medium tab__info"
                          >مشاهده لیست علاقه مندی ها</span
                        >
                      </div>
                    </div>
                  </div>
                  <div class="column xs-6 sm-12 pt--30">
                    <div class="tab__item row border__bottom">
                      <div class="column xs-12 sm-2">
                        <img src="/assets/icons/view-secondary.svg" />
                      </div>
                      <div
                        class="column xs-12 sm-9 tab__text-wrapper"
                      >
                        <span
                          class="palette--tertiary text--lg medium tab__heading"
                          >آخرین بازدید </span
                        ><span class="text--md medium tab__info"
                          >مشاهده تاریخچه بازدید</span
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="column xs-12 sm-7 padding-none">
            <section class="card-shadow card--container">
              <div id="card-body" class="card-body">
                <div id="card-content" class="card-content">
                  <div class="wishlistContainer">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="column sm-4 wishlist-img mb--16 xs-6 xs-4">
                          <div class="checkout__carousel--card">
                            <div class="checkout__carousel--card-img-wrap mb--8">
                              <a target="_blank" href="#">
                                <img
                                  srcset="
                                  https://placehold.co/190x210,
                                    https://placehold.co/380x420 2x
                                  "
                                  src="https://placehold.co/190x210"
                                  height="210"
                                  width="190"
                                  alt="prod name"
                                />
                              </a>
                              <a
                                href="#"
                                class="checkout__carousel--card--fav active"
                              ></a>
                            </div>
                            <div class="checkout__carousel--card-dtls">
                              <h4 class="item-name truncate">
                                <a
                                  target="_blank"
                                  href="#"
                                  >نام محصول</a
                                >
                              </h4>
                              <h4 class="manufacturer__name">نام سازنده</h4>
                              <h4 class="toady-deal">پیشنهادی امروز</h4>

                              <div class="checkout__carousel--card-price text--md">
                                <span class="pay-price">۵۰,۰۰۰,۰۰۰ </span>&nbsp;
                                <span class="total-price price"
                                  >۰۰,۰۰۰,۰۰۰
                                </span>
                              </div>
                              <div class="checkout__carousel--card-price text--xs">
                                <span class="save-text"
                                  >سود شما &nbsp;<span class="price"
                                    >۵۰,۰۰۰,۰۰۰
                                  </span></span
                                >&nbsp;
                                <span class="toady-deal">(تخفیف ۵۰٪)</span>
                              </div>
                              <h4 class="cashback-text">
                                بازگشت وجه به ارزش
                                <span class="bold price">۱۰,۰۰۰</span>
                              </h4>

                              <h4 class="express-shipping">
                                ارسال
                                <span class="bold">امروز</span>
                              </h4>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="dotted-line mb--16"></div>

                      <div
                        class="dotted-line-text text--center medium text--sm mb--16"
                      >
                        پایان لیست
                      </div>

                      <div class="divider mb--16"></div>
                      <div class="eploreBtn text--center">
                        <button
                          type="button"
                          class="btn__container btn__outline--teal"
                          id="Button"
                          name="Button"
                        >
                          <div>
                            <span>مشاهده محصولات بیشتر</span>
                          </div>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
