.mb--4 {
  margin-bottom: 4px;
}
.pt--4 {
  padding-top: 4px;
}
.m--4 {
  margin: 4px;
}
.p--4 {
  padding: 4px;
}
.mb--8 {
  margin-bottom: 8px;
}
.pt--8 {
  padding-top: 8px;
}
.m--8 {
  margin: 8px;
}
.p--8 {
  padding: 8px;
}
.mb--12 {
  margin-bottom: 12px;
}
.pt--12 {
  padding-top: 12px;
}
.m--12 {
  margin: 12px;
}
.p--12 {
  padding: 12px;
}
.mb--16 {
  margin-bottom: 16px;
}
.pt--16 {
  padding-top: 16px;
}
.m--16 {
  margin: 16px;
}
.p--16 {
  padding: 16px;
}
.mb--20 {
  margin-bottom: 20px;
}
.pt--20 {
  padding-top: 20px;
}
.m--20 {
  margin: 20px;
}
.p--20 {
  padding: 20px;
}
.mb--24 {
  margin-bottom: 24px;
}
.pt--24 {
  padding-top: 24px;
}
.m--24 {
  margin: 24px;
}
.p--24 {
  padding: 24px;
}
.mb--28 {
  margin-bottom: 28px;
}
.pt--28 {
  padding-top: 28px;
}
.m--28 {
  margin: 28px;
}
.p--28 {
  padding: 28px;
}
.mb--32 {
  margin-bottom: 32px;
}
.pt--30 {
  padding-top: 32px;
}
.pt--32 {
  padding-top: 32px;
}
.m--32 {
  margin: 32px;
}
.p--32 {
  padding: 32px;
}
.mb--36 {
  margin-bottom: 36px;
}
.pt--36 {
  padding-top: 36px;
}
.m--36 {
  margin: 36px;
}
.p--36 {
  padding: 36px;
}
.mb--42 {
  margin-bottom: 42px;
}
.pt--42 {
  padding-top: 42px;
}
.m--42 {
  margin: 42px;
}
.p--42 {
  padding: 42px;
}
.mb--48 {
  margin-bottom: 48px;
}
.pt--48 {
  padding-top: 48px;
}
.m--48 {
  margin: 48px;
}
.p--48 {
  padding: 48px;
}
.mb--52 {
  margin-bottom: 52px;
}
.pt--52 {
  padding-top: 52px;
}
.m--52 {
  margin: 52px;
}
.p--52 {
  padding: 52px;
}
.mb--56 {
  margin-bottom: 56px;
}
.pt--56 {
  padding-top: 56px;
}
.m--56 {
  margin: 56px;
}
.p--56 {
  padding: 56px;
}
.mb--60 {
  margin-bottom: 60px;
}
.pt--60 {
  padding-top: 60px;
}
.m--60 {
  margin: 60px;
}
.p--60 {
  padding: 60px;
}
.mb--64 {
  margin-bottom: 64px;
}
.pt--64 {
  padding-top: 64px;
}
.m--64 {
  margin: 64px;
}
.p--64 {
  padding: 64px;
}
